* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container > header {
    display: flex;
    padding: 55px;
    justify-content: space-around;
    align-items: center;
    transition: background-color 1s ease-in-out;
}

.wrap {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.container > header > .company-name {
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.button {
    padding: 8px;
    border-radius: 8px;
    border: none;
    width: 150px;
    transition: transform 0.3s ease-out;
    cursor: pointer;
}

.button:hover {
    transform: scale(1.02);
}

.container > main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    transition: background-color 1s ease-in-out;
}

.container > main > section {
    width: 45%;
    margin: 15px;
}

.container > main > section > .text-big {
    font-size: 50px;
    color: white;
    margin: 50px 0px 50px 0px;
}

.container > main > section > .text-small {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.759);
    margin: 50px 0px 50px 0px;
}

.container > main > section > .button > button {
    padding: 8px;
    border-radius: 8px;
}

.container > main > .rigth > .fade {
    background-image: url('img/bg.svg');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: right;
    display: flex;
    justify-content: center;
    height: 60vh;
    min-height: 60vh;
    margin-top: 50px;
}

.container > main > .rigth > .fade > .image-ilustration {
    width: 100%;
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto 100%;
}

.section-menus {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.section-menus > a {
    color: white;
    text-decoration: none;
}

.section-menus > a:hover {
    cursor: pointer;
    border-bottom: 1px solid #f2f1f1;
}

#contact-link {
    display: none;
}

@media screen and (max-width: 1000px) {

    .container > main > section.left {
        width: 40%;
    }

    .container > main > section > .text-big {
        font-size: 40px;
        transition: font-size 1s ease-in-out;
    }

    .container > main > section > .text-small {
        font-size: 15px;
        transition: font-size 1s ease-in-out;
    }

    .container > main > .rigth > .fade {
        height: 30vh;
        min-height: 40vh;
        transition: min-height 1s ease-in-out;
    }
}

@media screen and (max-width: 700px) {

    .container > main > section > .text-big {
        font-size: 30px;
        transition: font-size 1s ease-in-out;
    }

    #main > .left {
        width: 100%;
    }

    .container > main > .rigth > .fade {
        height: 30vh;
        min-height: 30vh;
        transition: min-height 1s ease-in-out;
    }

    .container > header > .company-name {
        transition: font-size 1s ease-in-out;
        font-size: 20px;
    }

    .section-menus > a {
        transition: font-size 1s ease-in-out;
        font-size: 12px;
    }

    .button {
        width: 150px;
    }
}

@media screen and (max-width: 500px) {
    #main {
        flex-wrap: wrap;
    }

    .container > main > section {
        width: 100%;
    }


    .container > main > .rigth > .fade, .container > main > .rigth > .fade > .image-ilustration {
        margin-top: 0;
        background-position: center;
        height: 250px;
    }

    .container > main > section > .text-big {
        font-size: 40px;
        transition: font-size 1s ease-in-out;
    }

    .container > header > .company-name {
        transition: font-size 1s ease-in-out;
        font-size: 30px;
    }

    .container > header {
        padding: 25px;
    }

    #contact {
        display: none;
    }

    .wrap {
        justify-content: space-evenly;
        padding-top: 15px;
    }

    header {
        flex-wrap: wrap;
    }

    #contact-link {
        display: block;
    }

    .container > header {
        padding: 25px;
        transition: 1s;
    }
}